@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --font-ppFragment: "PP Fragment", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ppFragment);
}

html {
  overscroll-behavior: none;
}
html,
body {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  user-select: none;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

mux-player {
  --top-controls: none;
  aspect-ratio: 16/9;
}
